@import "tailwindcss";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .font-mono {
    font-family: 'JetBrains Mono', monospace;
  }
}

/* Custom Scrollbar for IDE feel */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0d1117;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #30363d;
  border: 2px solid #0d1117;
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #8b949e;
}

.breakpoint-glyph {
  background-color: #f78166;
  border-radius: 50%;
  width: 10px !important;
  height: 10px !important;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
}
